.bj-actions

  .row
    .col-sm-6.col-xs-8
      h2 Акции
    
    .col-sm-6.col-xs-4.text-right
      .bj-more-link
        a( href="/news/" ) Все акции
        include ../../svg/arrow
  
  .bj-actions__item( style="background-image: url( http://s.fotorama.io/okonechnikov/27-lo.jpg );" )
  
    .row
    
      .col-sm-4.bj-actions__text( style="background-color: #b64f7d;" )
        p 23 января 2015
        .h3
          a( href="/news/item/" ) Новогодняя распродажа!
        p Сегодня компания Apple представила совершенно новый 15-дюймовый MacBook Pro с потрясающим дисплеем ..
        hr
        a.btn.btn-default( href="" style="color: #b64f7d !important;" ) Подробнее
        
hr.i-size-L
        
.bj-actions

  .row
    .col-sm-6.col-xs-8
      h2 Акции
    
    .col-sm-6.col-xs-4.text-right
      .bj-more-link
        a( href="/news/" ) Все акции
        include ../../svg/arrow
  
  .bj-actions__item( style="background-image: url( http://s.fotorama.io/okonechnikov/27-lo.jpg );" )
  
    .row
    
      .col-sm-4.col-sm-offset-8.bj-actions__text( style="background-color: #b64f7d;" )
        p 23 января 2015
        .h3
          a( href="/news/item/" ) Новогодняя распродажа!
        p Сегодня компания Apple представила совершенно новый 15-дюймовый MacBook Pro с потрясающим дисплеем ..
        hr
        a.btn.btn-default( href="" style="color: #b64f7d !important;" ) Подробнее
        
hr.i-size-XL
        
.bj-news

  h2 Акции
  
  .row
    
    .col-sm-3
      a.bj-news__image( href="/news/item/" )
        img( src="http://s.fotorama.io/okonechnikov/28-lo.jpg" alt="" )
      p 30 января 2017
      a( href="/news/item/" ) Новогодняя распродажа!
      
    hr.i-size-XL.visible-xs
    
    .col-sm-3
      a.bj-news__image( href="/news/item/" )
        img( src="http://s.fotorama.io/okonechnikov/27-lo.jpg" alt="" )
      p 30 января 2017
      a( href="/news/item/" ) Товар дня! Электрическая зубная щетка Philips HX8911/02
      
    hr.i-size-XL.visible-xs
    
    .col-sm-3
      a.bj-news__image( href="/news/item/" )
        img( src="http://s.fotorama.io/okonechnikov/26-lo.jpg" alt="" )
      p 30 января 2017
      a( href="/news/item/" ) Товар дня! Электрическая зубная щетка Philips HX8911/02
      
    hr.i-size-XL.visible-xs
    
    .col-sm-3
      a.bj-news__image( href="/news/item/" )
        img( src="http://s.fotorama.io/okonechnikov/25-lo.jpg" alt="" )
      p 30 января 2017
      a( href="/news/item/" ) Новогодняя распродажа!