// start /components/banner/

.bj-banner.visible-xs-block
  .i-mobile
    .fotorama( data-width="100%" data-ratio="1/1" data-autoplay="20000" data-loop="true" )
      div
        a( href="" style="background-image: url( http://s.fotorama.io/1.jpg );" )
      div
        a( href="" style="background-image: url( http://s.fotorama.io/2.jpg );" )
      div
        a( href="" style="background-image: url( http://s.fotorama.io/okonechnikov/30-lo.jpg );" )
      div
        a( href="" style="background-image: url( http://s.fotorama.io/okonechnikov/29-lo.jpg );" )
      div
        a( href="" style="background-image: url( http://s.fotorama.io/okonechnikov/28-lo.jpg );" )

// end /components/banner/