a,
a:hover,
a:active,
a:focus
  color #e70a43

.bj-page-header.i-header5

  .bj-page-header__bottom-menu
  
    a,
    a:hover,
    a:active,
    a:focus
      color #e70a43

  .bj-icon-num
    background-color #e70a43