
<!-- start /components/brands/-->
<link rel="stylesheet" href="/components/brands/style.css"/>
<script src="/components/brands/script.js"></script>
<div data-url="/components/brands/response.json" class="bj-brands">
  <h2>Бренды</h2><a href="" class="bj-brands__all">Все бренды</a>
  <div data-width="100%" data-height="144" data-loop="true" class="fotorama">
    <div>
      <div class="row">
        <div class="col-sm-2"><img src="http://s.fotorama.io/1.jpg" class="img-responsive"/></div>
        <div class="col-sm-2"><img src="http://s.fotorama.io/1.jpg" class="img-responsive"/></div>
        <div class="col-sm-2"><img src="http://s.fotorama.io/1.jpg" class="img-responsive"/></div>
        <div class="col-sm-2"><img src="http://s.fotorama.io/1.jpg" class="img-responsive"/></div>
        <div class="col-sm-2"><img src="http://s.fotorama.io/1.jpg" class="img-responsive"/></div>
        <div class="col-sm-2"><img src="http://s.fotorama.io/1.jpg" class="img-responsive"/></div>
      </div>
    </div>
    <div>
      <div class="row">
        <div class="col-sm-2"><img src="http://s.fotorama.io/2.jpg" class="img-responsive"/></div>
        <div class="col-sm-2"><img src="http://s.fotorama.io/2.jpg" class="img-responsive"/></div>
        <div class="col-sm-2"><img src="http://s.fotorama.io/2.jpg" class="img-responsive"/></div>
        <div class="col-sm-2"><img src="http://s.fotorama.io/2.jpg" class="img-responsive"/></div>
        <div class="col-sm-2"><img src="http://s.fotorama.io/2.jpg" class="img-responsive"/></div>
        <div class="col-sm-2"><img src="http://s.fotorama.io/2.jpg" class="img-responsive"/></div>
      </div>
    </div>
    <div>
      <div class="row">
        <div class="col-sm-2"><img src="http://s.fotorama.io/okonechnikov/27-lo.jpg" class="img-responsive"/></div>
        <div class="col-sm-2"><img src="http://s.fotorama.io/okonechnikov/27-lo.jpg" class="img-responsive"/></div>
        <div class="col-sm-2"><img src="http://s.fotorama.io/okonechnikov/27-lo.jpg" class="img-responsive"/></div>
        <div class="col-sm-2"><img src="http://s.fotorama.io/okonechnikov/27-lo.jpg" class="img-responsive"/></div>
        <div class="col-sm-2"><img src="http://s.fotorama.io/okonechnikov/27-lo.jpg" class="img-responsive"/></div>
        <div class="col-sm-2"><img src="http://s.fotorama.io/okonechnikov/27-lo.jpg" class="img-responsive"/></div>
      </div>
    </div>
  </div>
</div>
<hr class="i-size-L"/>
<!-- end /components/brands/-->