.bj-page-header.i-header9
  color #fff
  
  .bj-page-header__body
    height 100px
  
    a,
    a:hover,
    a:active,
    a:focus
      color #fff

    path
      fill #fff
      
  .bj-icon-num
    background-color #fff

  .bj-top-cart__summ
    color #fff
    
  .bj-page-header__content
    padding-top 22px
    
    @media( max-width 767px )
      padding-top 33px
      
  .bj-page-header__menu
    width 212px
    
    @media( max-width 1199px )
      width 172px
    
  .bj-page-header__menu-icon
    margin 0 32px 0 0
    
    @media( max-width 767px )
      margin 0