.bj-page-header
    
  &.i-header2
    
    .bj-page-header__body
      color #fff
      
      a,
      a:hover,
      a:active,
      a:focus
        color #fff

      path
        fill #fff
      
    .bj-icon-num
      background-color #fff
  
    .bj-top-cart__summ
      color #fff