.bj-page-header.i-header4

  .bj-page-header__body
    height 100px
    color #fff
    
    a,
    a:hover,
    a:active,
    a:focus
      color #fff

    path
      fill #fff
    
  .bj-icon-num
    background-color #fff

  .bj-top-cart__summ
    color #fff
    
  .bj-page-header__content
    padding-top 22px
    
    @media( max-width 767px )
      padding-top 33px