.b-masonry
  
  .row
    .col-md-3
      .b-masonry__item
        a( href="" style="background-image: url( http://s.fotorama.io/1.jpg );" )
      
    hr.visible-sm-block.clearfix
    
    .col-md-6
      .b-masonry__item
        a( href="" style="background-image: url( http://s.fotorama.io/2.jpg );" )
      
    hr.visible-sm-block.clearfix
    
    .col-md-3
      .b-masonry__item
        a( href="" style="background-image: url( http://s.fotorama.io/okonechnikov/30-lo.jpg );" )
      
  hr
  
  .row
    .col-md-6
      .b-masonry__item
        a( href="" style="background-image: url( http://s.fotorama.io/1.jpg );" )
      
    hr.visible-sm-block.clearfix
    
    .col-md-3
      .b-masonry__item
        a( href="" style="background-image: url( http://s.fotorama.io/1.jpg );" )
      
    hr.visible-sm-block.clearfix
    
    .col-md-3
      .b-masonry__item
        a( href="" style="background-image: url( http://s.fotorama.io/1.jpg );" )
      
  hr
  
  .row
    .col-md-3
      .b-masonry__item
        a( href="" style="background-image: url( http://s.fotorama.io/1.jpg );" )
      
    hr.visible-sm-block.clearfix
    
    .col-md-3
      .b-masonry__item
        a( href="" style="background-image: url( http://s.fotorama.io/1.jpg );" )
      
    hr.visible-sm-block.clearfix
    
    .col-md-6
      .b-masonry__item
        a( href="" style="background-image: url( http://s.fotorama.io/1.jpg );" )
