@import '../../styl/component-include.styl'

.b-masonry
  
  &__item
    overflow hidden
        
    @media( max-width 767px )
      position relative
      padding-top 100%
  
    a
      display block
      background-repeat no-repeat
      background-position center
      background-size cover
      height 250px
      transition transform 1s ease-out
      
      &:hover
        transform scale( 1.05 )
        opacity 1
        
      @media( max-width 767px )
        position absolute
        top 0
        left 0
        width 100%
        height 100%
      
      
