.b-advantages
  .row
  
    .col-md-3.col-sm-6.col-xs-6
      .b-advantages__item.text-center
        .b-advantages__content
          .b-advantages__icon
            include ../../svg/shopping-cart
          .h3 Удобный расчет
          p.hidden-xs Расчитывайтесь удобным для вас способом,картами, наличными или Яндекс деньгами.
          
    .col-md-3.col-sm-6.col-xs-6
      .b-advantages__item.text-center
        .b-advantages__content
          .b-advantages__icon
            include ../../svg/shopping-cart
          .h3 Удобный расчет
          p.hidden-xs Расчитывайтесь удобным для вас способом,картами, наличными или Яндекс деньгами.
          
    hr.visible-sm-block.clearfix
          
    .col-md-3.col-sm-6.col-xs-6
      .b-advantages__item.text-center
        .b-advantages__content
          .b-advantages__icon
            include ../../svg/shopping-cart
          .h3 Удобный расчет
          p.hidden-xs Расчитывайтесь удобным для вас способом,картами, наличными или Яндекс деньгами.
          
    .col-md-3.col-sm-6.col-xs-6
      .b-advantages__item.text-center
        .b-advantages__content
          .b-advantages__icon
            include ../../svg/shopping-cart
          .h3 Удобный расчет
          p.hidden-xs Расчитывайтесь удобным для вас способом,картами, наличными или Яндекс деньгами.