.b-advantages.i-mobile
  .row
    .col-md-3.col-sm-6.col-xs-6
      .b-advantages__item
        .b-advantages__content
          .b-advantages__icon
            include ../../svg/shopping-cart
          p Удобный расчет Удобный
          
    .col-md-3.col-sm-6.col-xs-6
      .b-advantages__item
        .b-advantages__content
          .b-advantages__icon
            include ../../svg/shopping-cart
          p Удобный расчет
          
    hr.visible-sm-block.clearfix
          
    .col-md-3.col-sm-6.col-xs-6
      .b-advantages__item
        .b-advantages__content
          .b-advantages__icon
            include ../../svg/shopping-cart
          p Удобный расчет Удобный
          
    .col-md-3.col-sm-6.col-xs-6
      .b-advantages__item
        .b-advantages__content
          .b-advantages__icon
            include ../../svg/shopping-cart
          p Удобный
